body{
    background-color: #1B2538;
}

img{
    width: 100%;
}
  
h1{
    font-size: 20px;
}
  
p{
    font-size: 15px;
    margin-bottom: auto;
}
  
.footer{
    background-color: #ff3131;
    padding-top: 15px;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
    color: white;
}